form {
	input {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0rem;
		}
	}

	fieldset {
		margin-bottom: 2rem;
	}
}

.actions {
	display: flex;
	flex-direction: row-reverse;
	gap: 1rem;
	margin-bottom: 1rem;
}
