@import "../styles/variables";

.authLayout {
	position: absolute;
	inset: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.backgroundContainer {
	z-index: -20;
	position: absolute;
	display: grid;
	align-items: center;
	justify-content: center;
	transform: rotate(-12deg) skew(-12deg);
}

$animSpeed: 2s;
$baseHeight: 70px;
$primary: $primary;
$secondary: hsl(0, 0%, 75%);

.slide1 {
	$multiplier: 1.25;
	background-color: $primary;
	opacity: 1 / $multiplier;
	width: 400px;
	height: $baseHeight * $multiplier;
	animation: SlideRL ($animSpeed * $multiplier) ease-in-out alternate infinite;
}
.slide2 {
	$multiplier: 2;
	background-color: $primary;
	opacity: 1 / $multiplier;
	width: 200px;
	height: $baseHeight * $multiplier;
	animation: SlideLR ($animSpeed * $multiplier) ease-in-out alternate infinite;
}
.slide3 {
	$multiplier: 1.2;
	background-color: $primary;
	opacity: 1 / $multiplier;
	width: 400px;
	height: $baseHeight * $multiplier;
	animation: SlideRL ($animSpeed * $multiplier) ease-in-out alternate infinite;
}
.slide4 {
	$multiplier: 1.5;
	background-color: $primary;
	opacity: 1 / $multiplier;
	width: 400px;
	height: $baseHeight * $multiplier;
	animation: SlideLR ($animSpeed * $multiplier) ease-in-out alternate infinite;
}

@keyframes SlideLR {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(100%);
	}
}
@keyframes SlideRL {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
