@import "./styles/variables";
@import "./styles/mixins";

body {
	background-color: white;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	display: inline-block;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

// form styling
button,
.button {
	font-size: 0.8rem;
	cursor: pointer;
	user-select: none;
	border: none;
	background-color: $primary;
	color: white;
	padding: 1rem 2rem;
	border-radius: $borderRadius;
	text-align: center;

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
}

fieldset {
	border: none;
	outline: none;
	padding: 4px 1rem;
	margin: 0;
	overflow: auto;
	flex-grow: 1;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: hsl(0, 0%, 0%, 0%);
}
::-webkit-scrollbar-thumb {
	background-color: $secondary;
	border-radius: $borderRadius;
}

form {
	label {
		display: block;
		margin-bottom: 0.5rem;
	}

	input:not([type="checkbox"], [type="radio"]) {
		border: none;
		outline: none;
		outline: 1px solid hsla(0, 0%, 50%, 0.4);
		border-radius: 8px;
		border-radius: $borderRadius;
		padding: 1rem 0.75rem;
		width: 100%;
		margin-bottom: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}

		&:focus {
			outline-color: $primary;
		}

		&.invalid {
			outline-color: $danger;
		}

		&.disabled,
		&:disabled {
			pointer-events: none;
		}
	}
}

// general
.mb {
	margin-bottom: 1rem;
}

.title {
	font-weight: 400;
	font-size: 3rem;
	color: hsl(0, 0%, 0%);
}

.header {
	padding: 0rem 1rem;
	color: $primary;
}

.subtitle {
	font-size: 2rem;
	color: hsl(0, 0%, 40%);
}

.error {
	color: $danger;
	background-color: hsl(0, 50%, 90%);
	outline: 1px solid $danger;
	border-radius: $borderRadius;
	padding: 1rem;
}

div.primary {
	background-color: $primary;
}

span.primary {
	color: $primary;
}

.secondary {
	background-color: $secondary;
}

.underline {
	border-bottom: 2px solid $primary;
}

.flex {
	display: flex;
}

.fill {
	width: 100%;
}

.center {
	justify-content: center;
	align-items: center;
}

.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}

.hidden {
	display: none;
}

// lists
.list {
	display: flex;
	flex-direction: column;

	a.list-item {
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: #f5f5f5;
		}
	}

	.list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		user-select: none;
		padding: 1.8rem 1rem;
		border-bottom: 2px solid $primary;
		> div {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.main {
	padding: 0rem 2rem;
	@include breakpoint(xs) {
		width: 100%;
	}
	@include breakpoint(sm) {
		width: $breakpoint-sm;
	}
	@include breakpoint(md) {
		width: $breakpoint-md;
	}
	@include breakpoint(lg) {
		width: $breakpoint-lg;
	}
}
