@import "../../styles/variables";

.selectAccountType {
	display: flex;
	gap: 1rem;

	> button {
		width: 100%;
	}
}

.formGroup {
	height: 400px;
	padding: 1rem;
}

.formPage {
	display: flex;
	flex-direction: column;
	height: inherit;

	> .navigation {
		display: flex;
		gap: 1rem;
		align-self: flex-end;
		justify-self: center;
		height: 100%;

		> button {
			height: max-content;
			align-self: flex-end;
			width: 8rem;
		}
	}
}
